.menu-btn {
    width: 64px;
    height: 64px;
    background: white;
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 10px;
    box-sizing: border-box;
    z-index: 1;
    cursor: w-resize;
}

.menu-btn span {
    width: 60%;
    height: 5px;
    background: red;
    display: block;
    margin: 10px auto;
    transition: all .3s;
    

}

.menu-box {
    width: 40%;
    height: 100vh;
    background: #FFF;
    position: fixed;
    top: 0;
    right: -40%;
    padding: 30px;
    box-sizing: border-box;
    transition: all .7s;

}

.menu-box a {
    font-size: 40px;
    color: red;
    font-family:sans-serif;
    line-height: 2;
    font-weight: 600;

}

.menu-box.active {
    right: 0;
     !important;
}

.card {
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.card img {
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.card img:hover {
    transform: scale(1.2, 1.2);
}
.container {
    margin-top: 40px;
}
